version: 2.1
orbs:
  lucos: lucos/deploy@0
workflows:
  version: 2
  build-publish:
    jobs:
      - lucos/build-amd64:
          filters:
            branches:
              only:
                - main